*{
    padding:0px;
    margin:0px;
}
body{
    background-color:rgb(207, 211, 197);
}
#container{
    width: 90%;
    height:400px;
    margin: 50px 70px;
    background-color: rgb(202, 197, 151);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: Georgia;

}
label{
    font-size: 20px;
    color:green;
    text-align: center;
}
.inpt{
    width:300px;
    height:25px;
    margin:10px;
    font-size: 17px;
    
}
#age{
    margin-left: 30px;
}
#entry{
    width:130px;
    font-size: 18px;
    padding: 2px;
    background-color: rgb(117, 62, 156);
    color:white;
    font-family: Georgia;
    cursor: pointer;
}
#display{
   position:relative;
   left:400px;
   top:30px;
   background-color: coral;
   color:green;
   
}
#th1{
    width:200px;
    height:25px;
}
#th2{
    width:125px;
    height:25px;
}
#th3{
    width:150px;
    height:25px;
}
#display tr td{
    color:rgb(84, 51, 146);
    font-size: 18px;
    text-align:center;
    padding:3px 5px;
    font-family:sans-serif;
}